<div [ngClass]="{ 'shadow mb-6 transition-all duration-200': todoForm.dirty }">
  <form [formGroup]="todoForm">
    <mat-form-field class="w-full">
      <mat-label>Add your todo</mat-label>
      <input matInput formControlName="topic"/>
      <button matSuffix mat-icon-button (click)="addTodo()" [disabled]="!topic">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    @if (todoForm.dirty) {
      <app-color-picker
        [chooseColor]="color!"
        (colorChanged)="updateColor($event)"
      />
    }
  </form>
</div>
